{% extends "base.html" %}
{% block content %}
<div class="login-form">
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <p class="register-link">Don't have an account? <a href="/register">Register</a></p>
    {% if login_failed %}
    <p class="error">Invalid username or password. Please try again.</p>
    {% endif %}
</div>
{% endblock %}
